body {
    background: #f0b1c6;
font-size: 14pt;
    color: #954ede;
    font-family: 'Varela Round', sans-serif;
}

h1{color: #7900ff;
    font-weight: bold;
}

li {display:inline-block;
border: 2px solid #ffffff;
padding: 30px;
background: #f07dff
margin: 15px;
text-decoration:none;
}

li:hover{background:powderblue}